.Empty {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: #ffffff;
}

.Empty__name {
	color: #000;
}
.Empty__status,

.Empty__info {
	padding: 1rem;
}
.Empty__status {
	color: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
.Empty__img {
	border-radius: 50%;
	width: 150px;
	object-fit: cover;
	margin: 1rem;
	height: 150px;
}

.Empty__fileUpload-wrapper{
	position: relative;
}

.Empty__fileUpload-wrapper svg{
	width: 150px !important;
	height: 150px;
	background-color:#000000;
	border-radius: 50%;
	overflow: hidden !important;
	border: 1px solid #ffffff;
	opacity: 0.2;
	margin-right: 0;
}

.Empty__fileUpload-wrapper input{
	position: absolute;
    left: 0;
    height: 150px;
    width: 150px;
	opacity: 0;
	cursor: pointer;
}

.Empty form input{
	border: none;
	background: transparent;
	font-size: 17px;
	padding: 1rem;
	color: #000000;
	border-bottom: 1px solid #000000;
	outline: none;
}

.Empty ::placeholder{
	text-align: center;
	opacity: 0.2;
	color: #000000;
}

.Empty__btn {
	padding: 1rem;
	margin: 1rem 0;
	font-weight: bold;
	font-size: 1.2rem;
	border-radius: 30px;
	outline: 0;
	background-color: #000000;
	color: #ffffff;
}
.Empty__btn:hover {
	background: rgba(255, 255, 255, 0.7);
	cursor: pointer;
	color: #000000;
}

.Empty__logout-button{
	padding: 5px 20px;
	border-radius: 25px;
	border: none;
	background-color: #000000;
	color: #ffffff;
	cursor: pointer;
	outline: none;
}