.Chats{
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 85%;
	margin: 0 auto;
	overflow-y: scroll;
}

.Chat__wrapper.is-user-msg {
	margin-left: auto;
}

.Chat__wrapper.is-user-msg .Chat__time{
	text-align: right;
}

.Chat__message{
	display: block;
	margin: 1rem 0;
	color: #fff;
	padding: 1rem;
	background: linear-gradient(90deg, #1986d8, #7b9cc2);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.Chat__message.is-user-msg {
	background: #2b2c33;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	cursor: pointer;
}

.Chat__time{
	font-size: 10px;
	font-style: italic;
	margin-top: -11px;
	display: block;
}




@media (min-width: 576px) {
	.Chat {
		max-width: 60%;
	}
}