.login-wrapper{
        width: 30vw;
        max-width: 450px;
        padding: 140px 30px 40px;
        box-shadow:  10px 10px 58px #e3e3e3, 
                -10px -10px 58px #ffffff;
        transition: transform 0.3s ease-in-out;
        position: relative;
        overflow: hidden;
}



.login-wrapper h1{
        font-size: 90px;
        text-align: center;
        line-height: 80px;
        margin-bottom: 10px;
}

.login-wrapper h3{
        font-size: 20px;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 80px;
}

.login-wrapper__image{
        position: absolute;
        top: -250px;
        z-index: -1;
        right: -245px;
}

.login-wrapper form{
        margin-bottom: 80px;
}

.login-form-input{
        width: 100%;
        padding: 10px 30px;
        border-radius: 30px;
        margin-bottom: 30px;
        outline: none;
        display: flex;
        background-color: #ffffff;
        box-shadow:  5px 5px 17px #ededed, 
        -5px -5px 17px #ffffff;
        position: relative;
}

svg{
        margin-right: 15px;
}

.login-form-input input{
        font-size: 15px;
        outline: none;
        border: none;
        flex: 1;
}

.forgot-password{
        display: block;
        opacity: 0.3;
        font-size: 13px;
        margin-bottom: 80px;
        border: none;
        margin-left: auto;
}

.login-btn{
        text-align: right;
        font-size: 30px;
        font-weight: 600;
}

.login-btn button{
        border: none;
        color: #ffffff;
        background-color: #F9933B;
        font-size: 25px;
        padding: 5px 15px;
        margin-left: 15px;
        cursor: pointer;
        outline: none;
        border-radius: 26px;
        opacity: 0.5;
}

.login-btn button:hover{
        opacity: 1;
}

.login-wrapper h5{
        text-align: center;
        font-weight: 400;
}

.login-wrapper h5 button {
        font-weight: 800;
        text-decoration: underline;
        cursor: pointer;
        border: none;
}

.scale-down{
        transform: scale(0.8) !important;
}

.login-wrapper ::placeholder{
        opacity: 0.3;
}

.create-btn{
        outline: none;
}

.error{
        border: 1px solid #ff0000;
}

.error-message{
        color: #ff0000;
        position: absolute;
        font-size: 12px;
        bottom: -18px;
}



@media(max-width: 765px){
        .login-wrapper{
                width: 100%;
        }

        .scale-down{
                display: none;
        }
}